#root {
    width: 100%;
    height: 100%;
}

.App {
    background-image: url(../image/bg.png);
    background-color: #f9e14e;
    background-position: top center;
    background-repeat: repeat;
    background-size: 800px 800px;
    padding: 200px 0;
}