html {
  font-size: 62.5%;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: 'M PLUS 1p';
  font-weight: 700;
}