$mainColor: #313550;
$bgColor: #f9e14e;
$bsColor: rgba(0, 0, 0, 0.25);
$phText: #aaa;
$red: #e60012;
$white: #fff;

.PokemonSearch-wrapper {
    background-image: url(../image/bg.png);
    background-color: $bgColor;
    background-position: top center;
    background-repeat: repeat;
    background-size: 800px 800px;
    padding: 200px 0;

    &--center {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
}

.PokemonSearch {
  background-color: $white;
  border-radius: 24px;
  box-shadow: 10px 10px 0 0 $bsColor;
  padding: 120px 120px;
  width: 1100px;
  margin: 0 auto;
  text-align: center;

  &__title {
    border-bottom: 8px dotted $red;
    color: $mainColor;
    display: inline-block;
    font-size: 4.8rem;
    font-family: 'Fredoka One';
    padding-bottom: 4px;
    margin-bottom: 80px;
    letter-spacing: 4.8px;
  }

  &__area {
    display: flex;
    justify-content: center;
  }

  &__input {
    border: 5px solid $mainColor;
    border-radius: 8px 0 0 8px;
    color: $mainColor;
    letter-spacing: 0.8px;
    font-size: 1.6rem;
    outline: none;
    padding: 16px;
    width: 480px;
    height: 72px;

    &::placeholder {
      color: $phText;
      font-size: 1.6rem;
      position: relative;
      top: 2px;
    }
  }

  &__button {
    background: $mainColor;
    border-radius: 0 8px 8px 0;
    color: $white;
    cursor: pointer;
    font-family: "M PLUS 1p";
    font-size: 2.4rem;
    font-weight: 700;
    outline: none;
    letter-spacing: 1.6px;
    width: 160px;
    height: 72px;
  }
}
