html {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  vertical-align: baseline;
}

//prettier-ignore
div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,button,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

//prettier-ignore
q::before,q::after,blockquote::before,blockquote::after {
    content: "";
    content: none;
  }

a img {
  border: 0;
}

//prettier-ignore
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block;
  }

body {
  background-color: #fff;
  font: inherit;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

em {
  font-weight: bold;
}

// Thanks and respects to resessh and RyoNkmr.